html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Europa', sans-serif !important;
    background-color: #1e2022 !important;
    color: #fff !important;
}
a{
    text-decoration: none !important;
}
.hero{
    /* margin-top: 5rem; */
}
a.typewrite{
    color: #4b2e83;
}
.work{
    margin-top: 4rem;
}
a.project-link{
    color: #fff;
}
a.project-link:hover{
    text-decoration: none;
}
.card.project-card{
    transition: 0.4s;
}
.card.project-card:hover{
    transform: scale(1.01);
}
.about-container{
    margin-top: 15rem;
}
.project-card{
    background-color: transparent;
    border: none;
}
.project-card .card-title{
    font-weight: bold;
}
.project-card .card-text{
    font-weight: lighter;
}
.contact-icons{
    margin-top: 1rem;
    font-size: 3rem;
}
.contact-icons i{
    padding-right: 0.7em;
}
.fa-linkedin{
    color: #0077b5;
}
.fa-github{
    color: #666;
}
.fa-file{
    color: #888;
}
.fa-envelope{
    color: #ea4335;
}
@media 